/*
 *	Apply google Roboto font to all UI components
 */

{
    -fx-primary: #222222
;
    -fx-secondary: #39393b
;
    -fx-primarytext: #e4e9f3
;
}

.root {
    -fx-background-color: #e6f3da;

}

.menu {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 12;
}



/*
.text-field{
    -fx-alignment: center;
}
.text-field:empty{
    -fx-alignment: center-left;
}
.text-field:focused{
    -fx-alignment: center;
}*/